body{
    background-color: #0f0;
    margin: 0;
    font-family: sans-serif;
    color: #555;
    text-align: justify;
}
.box {
    height: 100px;
    width: 100%;
    margin: 0px;
    background-color: aliceblue;
    background-image: url("https://r-charts.com/es/miscelanea/procesamiento-imagenes-magick_files/figure-html/importar-imagen-r.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.opaco {
    height: 100%;
    width: 100%;
    background-color: #0003;
}
h1 {
    padding: 20px;
    text-align: center;
}
